body{
	margin:  0px;
	background-color: rgb(89,104,177);
	
}
ul{
	
	justify-content: center;
	list-style: none;
	width: 100%;
}


footer{
	height: 30px;
	background-color: rgb(64, 80, 156);
}
.list_game_bdd{
	display: inline-flex;
}
.pic{
	height: 150px;
	width: 150px;
	margin: 0 10px
}