body{
	margin:  0px;
	background-color: rgb(89,104,177);
	
}
ul{
	
	justify-content: center;
	list-style: none;
	width: 100%;
}


footer{
	margin-top: 30px;
	height: 30px;
	background-color: rgb(64, 80, 156);
}
.list_game_bdd{
	
}
.pic_normal{
	height: 230px;
	width: 150px;
	margin: 5px 10px
	
}

a{
	display: inline-flex;
}

.pic_ds{
	height: 150px;
	width: 150px;
	margin: 5px 10px;
	margin-top: auto;
	margin-bottom: auto;
}
.last_game_added{
	width: 54%;
	margin-left: 40px;
}

.text{
	color: white;
	font-size: 40px;
	text-align: center;
}

.all_games{
	border: solid white;
	border-width: 6px 0px 6px 0px;
	display: inline-flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.first_letter_game{
	color: white;
	font-weight: bold;
	font-size: 40px;
	font-family: monospace;
	text-align: center;
	vertical-align: middle;
	margin: 50px 10px;
}
.game_by_letter{
	display: inline-flex;
	width: 100%;
}
.game_by_platform{
	display: inline-flex;
	width: 100%;
}

.info_session{
	text-align: center;
	color: lightgoldenrodyellow;
}

.p_result_recherche{
	text-align: center;
	font-size: 30px;
	color: white;
	font-weight: bold;
	border-bottom: solid gray;
	padding-bottom: 5px;
}